// Background/Foreground Tones
@base03: #161925;
@base02: #1e2233;

// Content Tones
@base00: #666a73;
@base01: #595D66;
@base0: #d3dae3;
@base1: #e0e7f0;

// Background/Foreground Tones
@base2: #C6CFCC;
@base3: #d3dae3;

// Accent Colors
@yellow: #fdbc4b;
@orange: #ff6a00;
@red: #ed254e;
@purple: #aa00ff;
@magenta: #c50ed2;
@violet: #aa00ff;
@blue: #5294e2;
@cyan: #00c1e4;
@green: #71f79f;
